---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-private-key
      - id: fix-byte-order-marker
  # Black does not work for my Python 3.12.5
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        stages: [pre-push]
  #- repo: https://github.com/PyCQA/flake8
  #  rev: 7.1.1
  #  hooks:
  #    - id: flake8
  #      args: ["--ignore=E501"]
  - repo: https://github.com/PyCQA/pylint
    rev: v3.3.7
    hooks:
      - id: pylint
        args: [
           "--recursive=y",
           "--exit-zero",
           "--rcfile=pylintrc",
           "--output-format=github:report.txt"
        ]
